.main {
  height: 100%;
  width: 100%;
  padding: 50px;
  position: relative;
  background: #212529;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  height: 54px;
}

.light {
  color: black;
}

.dark {
  color: white;
}
