.big-title-main {
  font-size: 65px;
  color: white;
  font-weight: 900;
  position: absolute;
  top: 70px;
  left: 50%;
}

.big-title-main1 {
  transform: translate(-50.5%, -1%);
  color: #aaa;
}

.big-title-main2 {
  transform: translate(-50.25%, 0);
  color: #ddd;
}

.big-title-main3 {
  transform: translate(-50%, 1%);
  color: white;
}

main {
  height: max-content;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  height: 54px;
}

.dark {
  background: #212529;
}

.light {
  background: #999999;
}
