.big-title-main {
  font-size: 65px;
  color: white;
  font-weight: 900;
  position: absolute;
  top: 70px;
  left: 50%;
}

.dark-1 {
  transform: translate(-50.5%, -1%);
  color: #aaa;
}

.dark-2 {
  transform: translate(-50.25%, 0);
  color: #ddd;
}

.dark-3 {
  transform: translate(-50%, 1%);
  color: white;
}

.light-1 {
  transform: translate(-50.5%, -1%);
  color: black;
}

.light-2 {
  transform: translate(-50.25%, 0);
  color: #212121;
}

.light-3 {
  transform: translate(-50%, 1%);
  color: #515151;
}
